#loading-screen{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(68 68 68 / 40%);
    z-index: 999;
    opacity: 0;
    transition-duration: .3s;
}

.loader{
    width: 50px;
    height: 50px;
    border: solid rgba(0, 39, 84) 3px;
    border-radius: 50%;
    border-top: solid rgba(0,0,0,.0) 1px ;
    animation: spinner 1s infinite linear;
    z-index: 999;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}