* {
  margin: 0;
}
.Cart {
  position: fixed;
  width: 100%;
  height: 91vh;
  top: 9vh;
  background-color: white;
  z-index: 4;
}
.cart-header {
  display: flex;
  flex-direction: column;
  color: rgba(0, 39, 84);
  border-bottom: 3px solid rgba(242, 242, 242, 255);
  padding: 5px 15px;
  margin: 0 10px;
}
.cart-header-1,
.cart-header-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-header-title {
  font-size: 22px;
}
.cart-header-exit {
  width: 2rem;
  height: auto;
  cursor: pointer;
  margin-top: 0.4rem;
}
.cart-header-2 {
  padding: 5px 0 10px 0;
}
.cart-header-edit {
  text-decoration: underline;
}
.cart-header-exit,
.cart-header-edit,
.cart-header-p,
.cart-item-size-color {
  color: rgb(74, 74, 74);
}
.cart-items {
  max-height: 480px;
  overflow: scroll;
  overflow-x: hidden;
}
.cart-item-img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.cart-item {
  display: flex;
  border-bottom: 2px solid rgba(242, 242, 242, 255);
  margin: 0 10px;
  padding: 10px 5px;
}
.cart-item-rows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 5px 10px;
}
.cart-item-row-1,
.cart-item-row-2,
.cart-item-row-3 {
  display: flex;
  align-items: center;
}
.cart-item-row-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-item-name {
  font-size: 20px;
  color: rgba(0, 39, 84);
}
.cart-item-delete {
  width: 1.6rem;
  height: auto;
  cursor: pointer;
}
.cart-item-row-3 {
  display: flex;
  justify-content: space-between;
}
.cart-item-price {
  font-size: 20px;
}
.cart-item-quantity-section {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: center;
  border-radius: 20px;
  height: 44px;
  gap: 10px;
}
.cart-item-quantity {
  font-size: 18px;
}
.cart-item-quantity-buttons {
  width: 1.3rem;
  height: auto;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 0.2rem;
}
.cart-checkout-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5% 20px 5%;
}
.cart-checkout-price {
  font-size: 22px;
  color: rgba(0, 39, 84);
}
.cart-checkout-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-checkout-button,
.cart-checkout-klarna {
  width: 90%;
  height: 5vh;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
}
.cart-checkout-button {
  background: rgba(0, 39, 84, 0.5);
  color: white;
  border: none;
}
.cart-checkout-klarna {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: none;
}
.klarna-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  background-color: #f6adc1;
  margin: 5px;
  border-radius: 5px;
  margin-left: 0.6rem;
}
.klarna-icon {
  width: 20px;
}
.empty-cart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
}
.empty-cart-title {
  font-size: 18px;
}
.empty-cart-image {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}
#klarna-logo {
  width: 90%;
}
@media (min-width: 800px) {
  .klarna-container {
    width: 24px;
  }
  .Cart {
    width: 30%;
    right: 0;
    box-shadow: 0px 0px 1px 100000px rgb(0 0 0 / 50%);
    height: 88vh;
    top: 12vh;
  }
  .cart-items {
    max-height: 400px;
  }
}
