.Listitem {
  width: 100%;
  height: 60px;
  z-index: 5;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0.4rem;
  
}

.item-name {
  margin: 0;
  font-size: 22px;
  color: #cfeeff;
}
.item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 20px;
  color: #cfeeff;
}
.item-icon svg {
  transform: scale(2.8);
  
}
.item-icon path {
  stroke: #cfeeff;
}
